<h1>Propiedades</h1>

<button [disabled]="btnDisable">Enviar</button>
<input type="text" [value]="nombres"/>
<button (click)="toggleButton()"> Togle Button</button>
<hr/>
<button (click)="addEdad()">Age+</button>
<progress max="100" [value]="edad"></progress>
<hr/>
<div class="box" (scroll)="onScroll($event)">
<p>
  It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
</p>
</div>
<p>Nombre {{ nombres}}</p>
<input type="text" [value]="nombres" (keyup)="changeName($event)"/>

<h1>*ngIf</h1>
<input type="text" required #nameInput="ngModel" [(ngModel)]="nombres" />
<p *ngIf="nombres === 'patricio'; else myBlock;">Mi Nombre es patricio</p>
<ng-template #myBlock>
  <p>En texto ingresado no es igual a patricio</p>
</ng-template>

<h1> Mis ejemplos </h1>

<input type="text" required [(ngModel)]="edad" />
<p *ngIf="edad === 41; else myBlockAge">Mi edad es 41</p>
<ng-template #myBlockAge>
  <p>Edad Incorrecta</p>
</ng-template>


<h1> ngFor</h1>

<ul>
  <li *ngFor="let n of names; index as i">
   {{i}} {{n}}
   <button (click)="deleteName(i)"></button>
  </li>
</ul>

<hr/>
<input type="text" required [(ngModel)]="newName"/>
<button (click)="addName()">Add Name</button>

